<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Last Project</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>


<body>
    <div class="container">
        <div class="divH1">
            <h1> Travel App</h1>
        </div>
        <div class="holderInputFields">
            <div class="flexContainer2">
                <div>
                    <label for="city" class="marginSmallBottom">Enter City here</label>
                    <br>
                    <input type="text" id="city" placeholder="enter city here"></div>
                <div>
                    <label for="arrival" class="marginSmallBottom">Enter first date of trip </label>
                    <br>
                    <input type="text" id="arrival" min="" name="arrival" placeholder="first date of trip" readonly></div>
                <div>
                    <label for="departure" class="marginSmallBottom">Enter last date of trip </label>
                    <br>
                    <input type="text" id="departure" name="departure" placeholder="last date of trip" readonly></div>
            </div>

            <div class="divButton">
                <button id="generate" type="submit"> Generate </button>
            </div>

        </div>
        <div id="holderAnswerApi">
            <div class="flexContainer" id="dataContainer">
                <div id="picDiv">

                </div>
                <div id="textDiv">

                </div>
            </div>

            <div class="flexContainer" id="dataContainer">
                <div id="removeButton">

                </div>
                <div id="printTravelData">

                </div>
            </div>

        </div>
    </div>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>