<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Last Project</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>


<body>
    <div id="app">
        <div class="holder-input-fields">
            <h1>Capstone Project</h1>
            <label for="city">Enter City here</label>
            <input type="text" id="city" placeholder="enter city here">
            <label for="arrival">Enter Arrival Date </label>
            <input type="date" id="arrival" min="2020-01-26" name="arrival" placeholder="enter arrival date here">
            <label for="departure">Enter Departure Date </label>
            <input type="date" id="departure" name="departure" placeholder="enter departure date here">
            <button id="generate" type="submit"> Generate </button>
        </div>
</body>

</html>