#app {
    display: grid;
    /* grid-template-columns:  */
    height: 100vh;
    background: smokewhite;
    color: black;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.entry {
    background: rgba(59, 74, 107, .4);
}


/*  Basic Styling To Override Default For Basic HTML Elements */

label {
    font-size: 27px;
}

input {
    height: 60px;
    width: 320px;
    background: #22b2da;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    text-align: center;
}

#generate {
    width: 50%;
    height: 50px;
    background: #FF6860;
    color: white;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

h1 {
    font-size: 36px;
}

textarea {
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}


/* Reset style for HTML element on active to have no border*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* Style for Placeholder Text*/

::placeholder {
    /* Firefox, Chrome, Opera */
    color: black;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
    font-family: 'Oswald', sans-serif;
}

#imgTagPixabay {
    height: 100%;
    width: 25%;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    text-align: center;
}

.divButton {
    text-align: center;
    margin-bottom: 2%;
}

.margin-small-bottom {
    margin-bottom: 5px;
}

.grid-container-2 {
    display: inline-grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid-item-2 {
    padding: 20px;
    text-align: center;
}

.holderInputFields {
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 2%;
}

#ui-datepicker-div {
    background-color: whitesmoke;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container>div {
    width: 50%;
    text-align: center;
    margin-top: 2%;
}

.flex-container-2 {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 2%;
}

.flex-container-2>div {
    margin: 5px;
    width: 33.3%;
    text-align: center;
}

.container {
    margin: 10% 15% 15% 5%
}

.divH1 {
    text-align: center;
}

.picDiv,
.textDiv {
    margin-top: 2%;
    margin-bottom: 2%;
}